name: update_docker
on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
          - info
          - warning
          - debug
  push:
    branches:
      - main
    paths:
      - '.github/docker/Dockerfile'
      - '.github/docker/entrypoint.sh'

jobs:
  build_and_push_docker_image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: log into Docker Hub #Set repository secrets in github secrets
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./.github/docker
          push: true
          tags: pycram/semantic_world:jazzy